
@import url(stylesheet.css);

/* elements */

  /* Use Helvetica by preference for most body text. Style hyperlinks with 
     color only. Use white-space:pre-wrap or equivalent for code blocks
     so text doesn't get cut off. */

a {
   text-decoration: none;
}

a:visited {
   color:inherit;
}

body { 
   font-family: Helvetica, Arial, sans-serif;
   font-size: 10pt;
}

div.pre, div.pre_eg, pre.eg {
   font-family: courier, "Courier New", fixed, monospace;
   font-size: 9pt;
   /* see http://cheeaun.phoenity.com/weblog/2005/06/whitespace-and-generated-content.html
      for explanation of the white-space property cascade. pre-wrap is needed so long
      lines won't be cut off in print. When browser support for CSS 2.1 is solid, proprietary
      properties may be removed. */
   white-space: pre; /* CSS2 */
   white-space: -moz-pre-wrap; /* Mozilla */
   white-space: -o-pre-wrap; /* Opera 7 */
   white-space: pre-wrap; /* CSS 2.1 */
   white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
   word-wrap: break-word; /* IE */
   }

div.pre_eg, pre.eg {
   page-break-inside:avoid;
}


td {
   font-size: 10pt;
}

td.maintext, td.maintext p {
   font-family: Helvetica, Arial, sans-serif;
}
   
/* classes */

.plain {
   font-family: Helvetica, Arial, sans-serif;
}

div.pagebreak {
    page-break-before: always;
}

.quotation_inv {
	text-align:right;
	margin: 10pt;
}

.normal_inv {
	text-align:right;
}

.note_inv {
	text-align:right;
}