ONIXMessage:before {
		content:"Fiche ONIX";
		display:block;
		font-size:18px;
		}
	
ONIXMessage {
		display:block;
		width:95%;
        border: 1px solid;
        margin-left:auto;
        margin-right:auto;
        margin-bottom:20px;
        padding:5px;
        font-size: 13px;
        color:#000000;
		background-color:#85A3E0;
		}

Header:before {
		display:block;
		content:"En-tete" collapser();
		margin-bottom:10px;
		margin-top:20px;
		padding:5px;
		font-size:17px;
		}
		
Header {
		collapsible: yes; 
		collapsed: no;
		display: block;
		width:90%;
		font-size:13px;
		border: 1px solid;
		border-radius: 0.5em 0.5em 0.5em 0.5em;
		background-color:#989A98;
		}

Sender {
		display:block;
		}
        
Sender > SenderName {
		display:block;
		content:"Émetteur" text-area(columns,50,rows,1,wrap,word);
		margin-bottom:10px;
		margin-left:20px;
		font-size:13px;
		}

Sender > EmailAddress {
		display:block;
		content:"Courriel" text-area(columns,50,rows,1,wrap,word);
		margin-bottom:10px;
		margin-left:20px;
		font-size:13px;
		}

SentDateTime {
		content:"Date d'envoi (format YYYY/MM/DD):"
				date-field(pattern, "YY/MM/DD");
		display: block;
		margin-bottom:10px;
		margin-left:20px;
		font-size:13px;
		}
		
DefaultLanguageOfText {
		content:"Langue par défaut du texte :" text-area(columns,50,rows,1,wrap,word);
		display: block;
		margin-bottom:10px;
		margin-left:20px;
		font-size:13px;
		}

Product:before {
		display: block;
		content:"Product" collapser();
		width:90%;
		margin-bottom:10px;
		margin-top:20px;
		padding:5px;
		font-size:17px
		}

Product {
		collapsible:yes; 
		collapsed:no;
		display: block;
		font-size:13px;
		border: 1px solid;
		}
		
RecordReference {
		content:"Reference:" text-area(columns,50,rows,1,wrap,word);
		display: block;
		margin-bottom:10px;
		margin-top:25px;
		margin-left:20px;
		font-size:13px;
		}

NotificationType {
		content:"NotificationType:"
				combo-box();
		display:block;
		margin-bottom:10px;
		margin-top:25px;
		margin-left:20px;
		font-size:13px;
		}

RecordSourceType {
		content:"RecordSourceType:"
				combo-box();
		display:block;
		margin-bottom:10px;
		margin-top:25px;
		margin-left:20px;
		font-size:13px;
		}

RecordSourceName {
		content:"RecordSourceName:" text-area(columns,50,rows,1,wrap,word);
		display:block;
		margin-bottom:10px;
		margin-top:25px;
		margin-left:20px;
		font-size:13px;
		}
		
ProductIdentifier:before {
		display:block;
		content:"ProductIdentifier" collapser();
		width:90%;
		margin-bottom:10px;
		margin-top:20px;
		font-size:15px;
		}

ProductIdentifier {
		collapsible:yes;
		collapsed:no;
		display: block;
		font-size:13px;
        border: 1px dashed #afafaf;
		}

ProductPart {
		collapsible:yes;
		collapsed:no;
		display: block;
		font-size:13px;
        border: 1px dashed #afafaf;
		}

RelatedProduct {
		collapsible:yes;
		collapsed:no;
		display: block;
		font-size:13px;
        border: 1px dashed #afafaf;
		}
		
ProductIdentifier > ProductIDType {
		display:block;
		content:"ProductIDType:" 
				combo-box();
		margin-bottom:10px;
		margin-top:25px;
		margin-left:20px;
		font-size:13px;
		}
		
ProductIdentifier > IDTypeName {
		display:block;
		content:"IDTypeName:" text-area(columns,50,rows,1,wrap,word);
		margin-bottom:10px;
		margin-top:25px;
		margin-left:20px;
		font-size:13px;
		}

ProductIdentifier > IDValue {
		display:block;
		content:"IDValue:" text-area(columns,50,rows,1,wrap,word);
		margin-bottom:10px;
		margin-top:25px;
		margin-left:20px;
		font-size:13px;
		}

Barcode {
		collapsible:yes;
		collapsed:no;
		display: block;
		font-size:13px;
        border: 1px dashed #afafaf;
		}

Barcode > BarcodeType {
		display:block;
		content:"Barcodeype:" 
				combo-box();
		margin-bottom:10px;
		margin-top:25px;
		margin-left:20px;
		font-size:13px;
		}
		
DescriptiveDetail:before {
		display:block;
		content:"Descriptive Detail" collapser();
		width:90%;
		margin-bottom:10px;
		margin-top:20px;
		font-size:15px;
		}
		
DescriptiveDetail {
		collapsible:yes;
		collapsed:no;
		display: block;
		font-size:13px;
        border: 1px dashed #afafaf;
		}

DescriptiveDetail > ProductComposition {
		display:block;
		content:"ProductComposition:"
				combo-box();
		margin-bottom:10px;
		margin-top:25px;
		margin-left:20px;
		font-size:13px;
		}
		
DescriptiveDetail > ProductForm {
		display:block;
		content:"ProductForm:"
				combo-box();
		margin-bottom:10px;
		margin-top:25px;
		margin-left:20px;
		font-size:13px;
		}

DescriptiveDetail > ProductFormDetail {
		display:block;
		content:"ProductFormDetail:" 
				combo-box();
		margin-bottom:10px;
		margin-top:25px;
		margin-left:20px;
		font-size:13px;
		}

DescriptiveDetail > ProductFormDescription {
		display:block;
		content:"ProductFormDescription:" text-area(columns,50,rows,1,wrap,word);
		margin-bottom:10px;
		margin-top:25px;
		margin-left:20px;
		font-size:13px;
		}

DescriptiveDetail > PrimaryContentType {
		display:block;
		content:"PrimaryContentType:" 
				combo-box();
		margin-bottom:10px;
		margin-top:25px;
		margin-left:20px;
		font-size:13px;
		}

DescriptiveDetail > ProductContentType {
		display:block;
		content:"ProductContentType:" 
				combo-box();
		margin-bottom:10px;
		margin-top:25px;
		margin-left:20px;
		font-size:13px;
		}
		
DescriptiveDetail > Measure:before {
		display:block;
		content:"Measure" collapser();
		width:90%;
		margin-bottom:10px;
		margin-top:20px;
		font-size:15px;
		}
		
DescriptiveDetail > Measure {
		collapsible:yes;
		collapsed:no;
		display: block;
		font-size:13px;
        margin-bottom:10px;
		margin-top:25px;
		margin-left:20px;
        border: 1px dashed #afafaf;
		}
		
DescriptiveDetail > Measure > MeasureType {
		display:block;
		content:"MeasureType:" 
				combo-box();
		margin-bottom:10px;
		margin-top:25px;
		margin-left:25px;
		font-size:13px;
		}
		
Measurement {
		display:block;
		content:"Measurement:" text-area(columns,50,rows,1,wrap,word);
		margin-bottom:10px;
		margin-top:25px;
		margin-left:25px;
		font-size:13px;
		}
		
MeasureUnitCode {
		display:block;
		content:"MeasureUnitCode:"
				combo-box();
		margin-bottom:10px;
		margin-top:25px;
		margin-left:25px;
		font-size:13px;
		}

		
EpubTechnicalProtection {
		display:block;
		content:"EpubTechnicalProtection:" 
				combo-box();
		margin-bottom:10px;
		margin-top:25px;
		margin-left:25px;
		font-size:13px;
		}

EpubUsageConstraint {
		collapsible:yes;
		collapsed:no;
		display: block;
		font-size:13px;
        margin-bottom:10px;
		margin-top:25px;
		margin-left:20px;
        border: 1px dashed #afafaf;
		}

EpubUsageType {
		display:block;
		content:"EpubUsageType:"
				combo-box();
		margin-bottom:10px;
		margin-top:25px;
		margin-left:25px;
		font-size:13px;
		}

EpubUsageStatus {
		display:block;
		content:"EpubUsageStatus:" 
				combo-box();
		margin-bottom:10px;
		margin-top:25px;
		margin-left:25px;
		font-size:13px;
		}

EpubUsageLimit {
		collapsible:yes;
		collapsed:no;
		display: block;
		font-size:13px;
        margin-bottom:10px;
		margin-top:25px;
		margin-left:20px;
        border: 1px dashed #afafaf;
		}
		
EpubUsageLimit > Quantity {
		display:block;
		content:"Quantity:" text-area(columns,50,rows,1,wrap,word);
		margin-bottom:10px;
		margin-top:25px;
		margin-left:25px;
		font-size:13px;
		}

EpubUsageLimit > EpubUsageUnit {
		display:block;
		content:"EpubUsageUnit:"
				combo-box(); 
		margin-bottom:10px;
		margin-top:25px;
		margin-left:25px;
		font-size:13px;
		}

ProductClassification {
		collapsible:yes;
		collapsed:no;
		display: block;
		font-size:13px;
        margin-bottom:10px;
		margin-top:25px;
		margin-left:20px;
        border: 1px dashed #afafaf;
		}

ProductClassification > ProductClassificationType {
		display:block;
		content:"ProductClassificationType:"
				combo-box(); 
		margin-bottom:10px;
		margin-top:25px;
		margin-left:25px;
		font-size:13px;
		}

ProductClassification > ProductClassificationCode {
		display:block;
		content:"ProductClassificationCode:" text-area(columns,50,rows,1,wrap,word); 
		margin-bottom:10px;
		margin-top:25px;
		margin-left:25px;
		font-size:13px;
		}

Collection:before {
		display:block;
		content:"Collection" collapser();
		width:90%;
		margin-bottom:10px;
		margin-top:20px;
		font-size:15px;
		}
		
Collection {
		collapsible:yes;
		collapsed:no;
		display: block;
		background-color:#E6E65C;
		margin-bottom:10px;
		margin-top:25px;
		margin-left:25px;
		font-size:13px;
        border: 1px dashed #afafaf;
		}

Collection {
		display:block;
		content:"Collection:" 
				combo-box();
		margin-bottom:10px;
		margin-top:25px;
		margin-left:25px;
		font-size:13px;
		}
		
CollectionType {
		display:block;
		content:"CollectionType:" 
				combo-box();
		margin-bottom:10px;
		margin-top:25px;
		margin-left:25px;
		font-size:13px;
		}
		
TitleDetail:before {
		display:block;
		content:"Title Detail:" collapser();
		width:90%;
		margin-bottom:10px;
		margin-top:20px;
		font-size:15px;
		}

TitleDetail {
		collapsible:yes;
		collapsed:no;
		display: block;
		font-size:13px;
        border: 1px dashed #afafaf;
		}

TitleType {
		display:block;
		content:"TitleType:" 
				combo-box();
		margin-bottom:10px;
		margin-top:25px;
		margin-left:25px;
		font-size:13px;
		}

TitleElement:before {
		display:block;
		content:"Title Element:" collapser();
		width:90%;
		margin-bottom:10px;
		margin-top:20px;
		font-size:15px;
		}

TitleElement {
		collapsible:yes;
		collapsed:no;
		display: block;
		font-size:13px;
        border: 1px dashed #afafaf;
		}

TitleElement > TitleElementLevel {
		display:block;
		content:"TitleElementLevel:" 
				combo-box();
		margin-bottom:10px;
		margin-top:25px;
		margin-left:25px;
		font-size:13px;
		}

TitleElement > PartNumber {
		display:block;
		content:"PartNumber:" text-area(columns,50,rows,1,wrap,word);
		margin-bottom:10px;
		margin-top:25px;
		margin-left:25px;
		font-size:13px;
		}
		
TitleElement > TitleText {
		display:block;
		content:"TitleText:" text-area(columns,50,rows,1,wrap,word);
		margin-bottom:10px;
		margin-top:25px;
		margin-left:25px;
		font-size:13px;
		}
		
Contributor:before {
		display:block;
		content:"Contributor" collapser();
		width:90%;
		margin-bottom:10px;
		margin-top:20px;
		font-size:15px;
		}
		
Contributor {
		collapsible:yes;
		collapsed:no;
		display: block;
		margin-bottom:10px;
		margin-top:25px;
		margin-left:25px;
		font-size:13px;
        border: 1px dashed #afafaf;
		background-color:#DB944D;
		}

SequenceNumber {
		display:block;
		content:"SequenceNumber:" text-area(columns,50,rows,1,wrap,word);
		margin-bottom:10px;
		margin-top:25px;
		margin-left:25px;
		font-size:13px;
		}
		
ContributorRole {
		display:block;
		content:"ContributorRole:" 
				combo-box();
		margin-bottom:10px;
		margin-top:25px;
		margin-left:25px;
		font-size:13px;
		}

NameType {
		display:block;
		content:"NameType:" 
				combo-box();
		margin-bottom:10px;
		margin-top:25px;
		margin-left:25px;
		font-size:13px;
		}

PersonName {
		display:block;
		content:"PersonName:" text-area(columns,50,rows,1,wrap,word);
		margin-bottom:10px;
		margin-top:25px;
		margin-left:25px;
		font-size:13px;
		}
		
PersonNameInverted {
		display:block;
		content:"PersonNameInverted:" text-area(columns,50,rows,1,wrap,word);
		margin-bottom:10px;
		margin-top:25px;
		margin-left:25px;
		font-size:13px;
		}
		
NamesBeforeKey {
		display:block;
		content:"NamesBeforeKey:" text-area(columns,50,rows,1,wrap,word);
		margin-bottom:10px;
		margin-top:25px;
		margin-left:25px;
		font-size:13px;
		}

EditionType {
		display:block;
		content:"EditionType"
				combo-box();
		width:90%;
		margin-bottom:10px;
		margin-top:20px;
		font-size:15px;
		}

Language:before {
		display:block;
		content:"Language" collapser();
		width:90%;
		margin-bottom:10px;
		margin-top:20px;
		font-size:15px;
		}

Language {
		collapsible:yes;
		collapsed:no;
		display: block;
		margin-bottom:10px;
		margin-top:25px;
		margin-left:25px;
		font-size:13px;
        border: 1px dashed #afafaf;
		}

LanguageRole {
		display:block;
		content:"LanguageRole:" 
				combo-box();
		margin-bottom:10px;
		margin-top:25px;
		margin-left:25px;
		font-size:13px;
		}
		
LanguageCode {
		display:block;
		content:"LanguageCode:" text-area(columns,50,rows,1,wrap,word);
		margin-bottom:10px;
		margin-top:25px;
		margin-left:25px;
		font-size:13px;
		}

Extent:before {
		display:block;
		content:"Extent" collapser();
		width:90%;
		margin-bottom:10px;
		margin-top:20px;
		font-size:15px;
		}
		
Extent {
		collapsible:yes;
		collapsed:no;
		display: block;
		margin-bottom:10px;
		margin-top:25px;
		margin-left:25px;
		font-size:13px;
        border: 1px dashed #afafaf;
		}

ExtentType {
		display:block;
		content:"ExtentType:" 
				combo-box();
		margin-bottom:10px;
		margin-top:25px;
		margin-left:25px;
		font-size:13px;
		}
		
ExtentValue {
		display:block;
		content:"ExtentValue:" text-area(columns,50,rows,1,wrap,word);
		margin-bottom:10px;
		margin-top:25px;
		margin-left:25px;
		font-size:13px;
		}
		
NumberOfIllustrations {
		display:block;
		content:"NumberOfIllustrations:" text-area(columns,50,rows,1,wrap,word);
		margin-bottom:10px;
		margin-top:25px;
		margin-left:25px;
		font-size:13px;
		}		

IllustrationsNote {
		display:block;
		content:"IllustrationsNotes:" text-area(columns,50,rows,1,wrap,word);
		margin-bottom:10px;
		margin-top:25px;
		margin-left:25px;
		font-size:13px;
		}
		
ExtentUnit {
		display:block;
		content:"ExtentUnit:" 
				combo-box();
		margin-bottom:10px;
		margin-top:25px;
		margin-left:25px;
		font-size:13px;
		}

Subject:before {
		display:block;
		content:"Subject" collapser();
		width:90%;
		margin-bottom:10px;
		margin-top:20px;
		font-size:15px;
		}
		
Subject {
		collapsible:yes;
		collapsed:no;
		display: block;
		font-size:13px;
        border: 1px dashed #afafaf;
		}

Subject > MainSubject {
		display:block;
		content:"Subjects:" text-area(columns,50,rows,1,wrap,word);
		margin-bottom:10px;
		margin-top:25px;
		margin-left:25px;
		font-size:13px;
		}

Subject > SubjectSchemeIdentifier {
		display:block;
		content:"SubjectSchemeIdentifier:" 
				combo-box();
		margin-bottom:10px;
		margin-top:25px;
		margin-left:25px;
		font-size:13px;
		}
		
Subject > SubjectSchemeVersion {
		display:block;
		content:"SubjectSchemeVersion:" text-area(columns,50,rows,1,wrap,word);
		margin-bottom:10px;
		margin-top:25px;
		margin-left:25px;
		font-size:13px;
		}

Subject > SubjectSchemaName {
		display:block;
		content:"SubjectSchemaName:" text-area(columns,50,rows,1,wrap,word);
		margin-bottom:10px;
		margin-top:25px;
		margin-left:25px;
		font-size:13px;
		}
		
Subject > SubjectCode {
		display:block;
		content:"SubjectCode:" text-area(columns,50,rows,1,wrap,word);
		margin-bottom:10px;
		margin-top:25px;
		margin-left:25px;
		font-size:13px;
		}

Subject > SubjectHeadingText {
		display:block;
		content:"SubjectHeadingText:" text-area(columns,50,rows,1,wrap,word);
		margin-bottom:10px;
		margin-top:25px;
		margin-left:25px;
		font-size:13px;
		}

Audience:before {
		display:block;
		content:"Audience" collapser();
		width:90%;
		margin-bottom:10px;
		margin-top:20px;
		font-size:15px;
		}
		
Audience {
		collapsible:yes;
		collapsed:no;
		display: block;
		margin-bottom:10px;
		margin-top:25px;
		margin-left:25px;
		font-size:13px;
        border: 1px dashed #afafaf;
		}

AudienceCodeType {
		display:block;
		content:"AudienceCodeType:" 
				combo-box();
		margin-bottom:10px;
		margin-top:25px;
		margin-left:25px;
		font-size:13px;
		}
		
AudienceCodeValue {
		display:block;
		content:"AudienceCodeValue:" text-area(columns,50,rows,1,wrap,word);
		margin-bottom:10px;
		margin-top:25px;
		margin-left:25px;
		font-size:13px;
		}

Complexity:before {
		display:block;
		content:"Complexity" collapser();
		width:90%;
		margin-bottom:10px;
		margin-top:20px;
		font-size:15px;
		}
		
Complexity {
		collapsible:yes;
		collapsed:no;
		display: block;
		margin-bottom:10px;
		margin-top:25px;
		margin-left:25px;
		font-size:13px;
        border: 1px dashed #afafaf;
		}

ComplexitySchemeIdentifier {
		display:block;
		content:"ComplexitySchemeIdentifier:" 
				combo-box();
		margin-bottom:10px;
		margin-top:25px;
		margin-left:25px;
		font-size:13px;
		}
		
ComplexityCode {
		display:block;
		content:"ComplexityCode:" text-area(columns,50,rows,1,wrap,word);
		margin-bottom:10px;
		margin-top:25px;
		margin-left:25px;
		font-size:13px;
		}
		
KeyNames {
		display:block;
		content:"KeyNames:" text-area(columns,50,rows,1,wrap,word);
		margin-bottom:10px;
		margin-top:25px;
		margin-left:25px;
		font-size:13px;
		}

BiographicalNote {
		display:block;
		content:"BiographicalNote:" text-area(columns,50,rows,1,wrap,word);
		margin-bottom:10px;
		margin-top:25px;
		margin-left:25px;
		font-size:13px;
		}
		
TextContent {
		display: block;
        margin-bottom:10px;
		margin-top:25px;
		margin-left:25px;
		font-size:13px;
        border: 1px dashed #afafaf;
		}

TextType {
		display:block;
		content:"TextType:" text-area(columns,50,rows,1,wrap,word);
		margin-bottom:10px;
		margin-top:25px;
		margin-left:25px;
		font-size:13px;
		}
		
Text {
		display:block;
		content:"Abstract:" text-area(columns,50,rows,1,wrap,word);
		margin-bottom:10px;
		margin-top:25px;
		margin-left:25px;
		font-size:13px;
		}

CollateralDetail:before {
		display:block;
		content:"CollateralDetail" collapser();
		width:90%;
		margin-bottom:10px;
		margin-top:20px;
		font-size:15px;
		}
		
CollateralDetail {
		collapsible:yes;
		collapsed:no;
		display: block;
		margin-bottom:10px;
		margin-top:25px;
		margin-left:25px;
		font-size:13px;
        border: 1px dashed #afafaf;
		}

SupportingResource {
		collapsible:yes;
		collapsed:no;
		display: block;
		font-size:13px;
        border: 1px dashed #afafaf;
		}

ResourceContentType {
		display:block;
		content:"ResourceContentType:" 
				combo-box();
		margin-bottom:10px;
		margin-top:25px;
		margin-left:25px;
		font-size:13px;
		}

ContentAudience {
		display:block;
		content:"ContentAudience:" 
				combo-box();
		margin-bottom:10px;
		margin-top:25px;
		margin-left:25px;
		font-size:13px;
		}

ResourceMode {
		display:block;
		content:"ResourceMode:" 
				combo-box();
		margin-bottom:10px;
		margin-top:25px;
		margin-left:25px;
		font-size:13px;
		}

ResourceVersion{
		collapsible:yes;
		collapsed:no;
		display: block;
		margin-bottom:10px;
		margin-top:25px;
		margin-left:25px;
		font-size:13px;
        border: 1px dashed #afafaf;
		}

ResourceForm {
		display:block;
		content:"ResourceForm:" 
				combo-box();
		margin-bottom:10px;
		margin-top:25px;
		margin-left:25px;
		font-size:13px;
		}

ResourceVersionFeature{
		collapsible:yes;
		collapsed:no;
		display: block;
		margin-bottom:10px;
		margin-top:25px;
		margin-left:25px;
		font-size:13px;
        border: 1px dashed #afafaf;
		}

ResourceVersionFeature {
		display:block;
		content:"";
		margin-bottom:10px;
		margin-top:25px;
		margin-left:25px;
		font-size:13px;
		}

ResourceVersionFeatureType {
		display:block;
		content:"ResourceVersionFeatureType:" 
				combo-box();
		margin-bottom:10px;
		margin-top:25px;
		margin-left:25px;
		font-size:13px;
		}

FeatureValue {
		display:block;
		content:"FeatureValue:"  text-area(columns,50,rows,1,wrap,word);
		margin-bottom:10px;
		margin-top:25px;
		margin-left:25px;
		font-size:13px;
		}

ResourceLink {
		display:block;
		content:"ResourceLink:" text-area(columns,50,rows,1,wrap,word);
		margin-bottom:10px;
		margin-top:25px;
		margin-left:25px;
		font-size:13px;
		}

PublishingDetail:before {
		display:block;
		content:"PublishingDetail" collapser();
		width:90%;
		margin-bottom:10px;
		margin-top:20px;
		font-size:15px;
		}
		
PublishingDetail {
		collapsible:yes;
		collapsed:no;
		display: block;
        margin-bottom:10px;
		margin-top:25px;
		margin-left:25px;
		font-size:13px;
        border: 1px dashed #afafaf;
		}

Imprint > ImprintName {
		display:block;
		content:"Imprint:" text-area(columns,50,rows,1,wrap,word);
		margin-bottom:10px;
		margin-top:25px;
		margin-left:25px;
		font-size:13px;
		}

Publisher {
		collapsible:yes;
		collapsed:no;
		display: block;
		font-size:13px;
        border: 1px dashed #afafaf;
		}
		
Publisher > PublishingRole {
		display:block;
		content:"PublishingRole:" text-area(columns,50,rows,1,wrap,word);
		margin-bottom:10px;
		margin-top:25px;
		margin-left:25px;
		font-size:13px;
		}
		
PublisherName {
		display:block;
		content:"PublisherName:" text-area(columns,50,rows,1,wrap,word);
		margin-bottom:10px;
		margin-top:25px;
		margin-left:25px;
		font-size:13px;
		}

PublishingName {
		display:block;
		content:"PublishingName:" text-area(columns,50,rows,1,wrap,word);
		margin-bottom:10px;
		margin-top:25px;
		margin-left:25px;
		font-size:13px;
		}
		
PublishingDate > Date {
		display:block;
		content:"Date:" text-area(columns,50,rows,1,wrap,word);
		margin-bottom:10px;
		margin-top:25px;
		margin-left:25px;
		font-size:13px;
		}

Extent:before {
		display:block;
		content:"Extent" collapser();
		width:90%;
		margin-bottom:10px;
		margin-top:20px;
		font-size:15px;
		}

Website:before {
		display:block;
		content:"Website:";
		margin-bottom:10px;
		margin-top:25px;
		margin-left:25px;
		font-size:13px;
		}
		
Website {
		collapsible:yes;
		collapsed:no;
		display: block;
		margin-bottom:10px;
		margin-top:25px;
		margin-left:25px;
		font-size:13px;
        border: 1px dashed #afafaf;
		}
		
WebsiteRole {
		display:block;
		content:"WebsiteRole:" text-area(columns,50,rows,1,wrap,word);
		margin-bottom:10px;
		margin-top:25px;
		margin-left:25px;
		font-size:13px;
		}
		
WebsiteLink {
		display:block;
		content:"WebsiteLink:" text-area(columns,50,rows,1,wrap,word);
		margin-bottom:10px;
		margin-top:25px;
		margin-left:25px;
		font-size:13px;
		}

CityOfPublication {
		display:block;
		content:"CityOfPublication:" text-area(columns,50,rows,1,wrap,word);
		margin-bottom:10px;
		margin-top:25px;
		margin-left:25px;
		font-size:13px;
		}

SalesRights:before {
		display:block;
		content:"SalesRights:";
		margin-bottom:10px;
		margin-top:25px;
		margin-left:25px;
		font-size:13px;
		}

SalesRights {
		collapsible:yes;
		collapsed:no;
		display: block;
		margin-bottom:10px;
		margin-top:25px;
		margin-left:25px;
		font-size:13px;
        border: 1px dashed #afafaf;
		}
		
SalesRightsType {
		display:block;
		content:"SalesRightsType:" text-area(columns,50,rows,1,wrap,word);
		margin-bottom:10px;
		margin-top:25px;
		margin-left:25px;
		font-size:13px;
		}
		
RegionsIncluded {
		display:block;
		content:"RegionsIncluded:" text-area(columns,50,rows,1,wrap,word);
		margin-bottom:10px;
		margin-top:25px;
		margin-left:25px;
		font-size:13px;
		}

		
ProductSupply:before {
		display:block;
		content:"ProductSupply" collapser();
		width:90%;
		margin-bottom:10px;
		margin-top:20px;
		font-size:15px;
		}
		
ProductSupply {
		collapsible:yes;
		collapsed:no;
		display: block;
        margin-bottom:10px;
		margin-top:25px;
		margin-left:25px;
		font-size:13px;
        border: 1px dashed #afafaf;
		background-color:#778D4D;
		}

Market:before {
		display:block;
		content:"Market" collapser();
		width:90%;
		margin-bottom:10px;
		margin-top:20px;
		font-size:15px;
		}
		
Market {
		collapsible:yes;
		collapsed:no;
		display: block;
		font-size:13px;
        border: 1px dashed #afafaf;
		}

CountriesIncluded {
		display:block;
		content:"Territory" text-area(columns,50,rows,1,wrap,word);;
		margin-bottom:10px;
		margin-top:25px;
		margin-left:25px;
		font-size:13px;
		}
		
/*Territory > CountriesIncludes {
		display:block;
		content:"" text-area(columns,50,rows,1,wrap,word);
		margin-bottom:10px;
		margin-top:25px;
		margin-left:25px;
		font-size:13px;
		}*/

MarketPublishingDetail:before {
		display:block;
		content:"MarketPublishingDetail" collapser();
		width:90%;
		margin-bottom:10px;
		margin-top:20px;
		font-size:15px;
		}
		
MarketPublishingDetail {
		collapsible:yes;
		collapsed:no;
		display: block;
		font-size:13px;
        border: 1px dashed #afafaf;
		}

MarketPublishingStatus {
		display:block;
		content:"MarketPublishingStatus:" text-area(columns,50,rows,1,wrap,word);
		margin-bottom:10px;
		margin-top:25px;
		margin-left:25px;
		font-size:13px;
		}

MarketDate:before {
		display:block;
		content:"MarketDate" collapser();
		width:90%;
		margin-bottom:10px;
		margin-top:20px;
		font-size:15px;
		}

MarketDate {
		collapsible:yes;
		collapsed:no;
		display: block;
		font-size:13px;
        border: 1px dashed #afafaf;
		}
		
MarketDate > MarketDateRole {
		display:block;
		content:"MarketDateRole:" text-area(columns,50,rows,1,wrap,word);
		margin-bottom:10px;
		margin-top:25px;
		margin-left:25px;
		font-size:13px;
		}
		
MarketDate > DateFormat {
		display:block;
		content:"DateFormat:" text-area(columns,50,rows,1,wrap,word);
		margin-bottom:10px;
		margin-top:25px;
		margin-left:25px;
		font-size:13px;
		}
		
MarketDate > Date {
		display:block;
		content:"Date:" text-area(columns,50,rows,1,wrap,word);
		margin-bottom:10px;
		margin-top:25px;
		margin-left:25px;
		font-size:13px;
		}

SupplyDetail:before {
		display:block;
		content:"SupplyDetail" collapser();
		width:90%;
		margin-bottom:10px;
		margin-top:20px;
		font-size:15px;
		}
		
SupplyDetail {
		collapsible:yes;
		collapsed:no;
		display: block;
		font-size:13px;
        border: 1px dashed #afafaf;
		}
		
Supplier {
		display: block;
		font-size:13px;
        border: 1px dashed #afafaf;
		}

Supplier > SupplierRole {
		content:"SupplierRole:" text-area(columns,50,rows,1,wrap,word);
		display:block;
		margin-bottom:10px;
		margin-top:25px;
		margin-left:25px;
		font-size:13px;
		}

Supplier > SupplierName {
		content:"SupplierName:" text-area(columns,50,rows,1,wrap,word);
		display:block;
		margin-bottom:10px;
		margin-top:25px;
		margin-left:25px;
		font-size:13px;
		}
		
ProductAvailability {
		content:"ProductAvailability:" text-area(columns,50,rows,1,wrap,word);
		display:block;
		margin-bottom:10px;
		margin-top:25px;
		margin-left:25px;
		font-size:13px;
		}



Price:before {
		display:block;
		content:"Price" collapser();
		width:90%;
		margin-bottom:10px;
		margin-top:20px;
		font-size:15px;
		}
		
Price {
		collapsible:yes;
		collapsed:no;
		display: block;
		font-size:13px;
        border: 1px dashed #afafaf;
		}
		
PriceType {
		content:"PriceType:" text-area(columns,50,rows,1,wrap,word);
		display:block;
		margin-bottom:10px;
		margin-top:25px;
		margin-left:25px;
		font-size:13px;
		}
		
PriceAmount {
		content:"PriceAmount:" text-area(columns,50,rows,1,wrap,word);
		display:block;
		margin-bottom:10px;
		margin-top:25px;
		margin-left:25px;
		font-size:13px;
		}

CurrencyCode {
		display:block;
		content:"Code de devise par defaut :" 
				combo-box(
						labels, "euros\A livres\A dollarUS\A");
		margin-bottom:10px;
		margin-top:25px;
		margin-left:25px;
		font-size:13px;
		}