
text {
    margin-top : 5px;
    margin-left : 5px;
    font-size : large;
    font-style : normal;
    background-color : white;
}

head {
 margin-top : 24px;
    display : block;
    color : purple;
    text-align : center;
    font-size : larger
}


l {
    display : block;
}



lg {
    margin-top : 24pt;
    margin-left : 42px;
    display : block;
}

div {
    margin-top : 24pt
}
