
text {
  margin-top: 5px;
  margin-left: 5px;
  font-size:large;
  font-style:normal;
  background-color: white;
}

head {
  display:block;
  color: purple;
  text-align: center;
  font-size:larger
}


l {
  display: block;
  margin-left: 12px;
}



lg {
margin-top:24px;
margin-left: 36px;
display: block;
}



p {
font-style:italic;
font-size:small;
display: block;
}

quote {
display: block;
margin-top: 24px;
font-style:italic;
text-align:center;
color:blue;
}
