head, castList, sp{
    display:block;
}

head {
    text-align:center;
    color:blue;
    font-size:110%;
    font-weight:bold;
}

castList {
    color:green;
    text-align:center;
}

speaker {
    font-weight:bold;
}

hi[rend='it'] {
    font-style:italic;
}