/* Place project-specific CSS here */
space {
   padding-left: 2em
}


gap::after {
    display:block; 
    padding-bottom:3em;
    padding-top:3em;
    text-align:center;
    content:"L A C U N E";
    color:red; 
}