body {
	font-size:0.913em;
	font-family:"Gentium Book Basic","Gentium Plus",serif;
	-epub-hyphens:auto;
	-webkit-hyphens:auto;
}

body[id=TOP] > h1 {
	display:none;
}

/* niveaux de titres */
h1,h2,h3,h4,h5,h6 {
	-epub-ruby-position:over;
	break-after:avoid !important;
	break-inside:avoid !important;
	font-weight:normal;
	font-style:normal;
}

h1,
h2,
h3 {
	font-size:1.5em;
	text-align:left;
	margin:.75em 0
}

h4 {
	font-size:1.2em;
	text-align:left;
	margin:.75em 0
}

h5 {
	font-size:1em;
	text-align:left;
	margin:.75em 0
}

h6 {
	font-size:0.8em;
	text-align:left;
	margin:.75em 0
}

/* resume */
.resume {
	font-style:italic;
	padding: 8em 8em 0.2em 8em;
}

.motscles {
	font-weight:bold;
	padding: 0em 8em 2em 8em;
}

.review{
	display:block;
	padding:0em;
	border: 1px solid #7A7A7A;
	border-radius:0.5em;
}

.epigraph {
	text-align:right;
	padding:0em 5em 0em 0em;
}

/** TOC **/

ul > li[class=toc] {
	color:#7A7A7A;
 	list-style-type:square;
	list-style-position:inside;
	text-decoration: none;
	font-family:Arial;
}


ul > li[class=toc] > a {
	color:#7A7A7A;
	text-decoration: none;
	font-family:Arial;
}


.chapitre > p[class="txt_Normal"]:before,
.section1 > p[class="txt_Normal"]:before,
.section2 > p[class="txt_Normal"]:before,
.section3 > p[class="txt_Normal"]:before,
.section4 > p[class="txt_Normal"]:before,
.teidiv > p[class="txt_Normal"]:before,
.teidiv0 > p[class="txt_Normal"]:before {
	content:"(" counter(Index,decimal-leading-zero) ") ";
	color:#AFAFAF;
	font-size:0.9em;
	margin-left:-2em;
	padding-right:1.6em;
	display:inline-block;
}

/* paragraphes */
p {
	counter-increment: Index;
	display:block;
	text-align:justify;
	margin-left:2em;
	margin-top:0.4em;
	margin-bottom:0.4em;
	widows:2;
	orphans:2;
}

/* séparateur */
.break {
	text-align:center;
}

/* citations */
blockquote {
	font-size:.9em;
	color:#605861;
	padding:0 12mm 0 3mm;
	text-align:justify;
}

/* notes et appels de notes */
.notelink {
	font-size:0.75em;
	vertical-align:top;
	background-color:#cecece;
	display:inline-block;
	font-family:Roboto,"Gentium Plus",sans-serif;
	color:black;
	text-decoration:none;
	margin:0 .1em 0 .3em;
	padding:.1em .3em .1em .3em;
}

.noteBody {
	display:inline;
	margin-right:0.5em;
	margin-left:0.5em;
}

.link_return {
	background-color:#cecece;
	text-decoration:none;
	color:black;
	font-size:0.90em;
	margin-left:0.4em;
}

/* illustrations */
.figure {
	display:block;
	float:left;
	margin-left:5em;
	margin-right:4em;
}

.figure > p {
	display:inline;
	float:left;
	color:#AFAFAF;
}


.caption {
	display:block;
	float:right;
	margin-top:16px;
	padding-bottom:1px;
	margin-left:2em;
	border-bottom: solid 1px;
}


/* entretien théâtre */
dl {
	margin-right:5em;
	margin-left:5em;
	font-style:italic;
}

sup {
	vertical-align:top;
}

.speaker {
	font-weight:bold;
}

.stage.it {
	font-style:italic;
	margin-left:1em;
}

.p-in-sp {
	margin-left:2em;
}

/* list biblio */
.listBibl {
	list-style-type:none;
}

.bibl {
	margin-left:-2em;
}

/* linguistique */
.quote {
	display:block;
}


/* Page de titre */
.titlePage {
	border-top: 4px solid #AFAFAF;
	border-bottom: 4px solid #AFAFAF;
}

.docTitle {
	font-size:2em;
	padding-top:0.9em;
}

.docAuthor {
	font-size:1.4em;
	padding-top:2em;
	margin-left:-0.6em;
	color:black;
}

.byline {
	font-size:1.2em;
	padding-top:0.9em;
	margin-left:3em;
	color:#AFAFAF;
}

.rtl {
	text-align:right;
}

/* encadrés */
.floatingText {
	background-color:#B2B2B2;
	counter-reset:Index2;
	margin:0.8em 8em 0.8em 8em;
}

.floatingText .head {
	break-after:avoid !important;
	break-inside:avoid !important;
}

.floatingText p:before {
	content:"(" counter(Index2,decimal-leading-zero) ") ";
	color:black;
	font-size:0.9em;
	margin-left:-2em;
	padding-right:1.6em;
	display:inline-block;
}

.floatingText p {
	counter-increment: Index2;
	display:inline-block;
	text-align:justify;
	margin-left:2em;
	margin-top:0.4em;
	margin-bottom:0.4em;
	widows:2;
	orphans:2;
}

.floatingText h1,
.floatingText .byline {
	display:none;
}

/* fixe */
.floatingText .head,
.floatingText *[class*="enc_fixe"] {
	padding:0.2em 0.8em 0.2em 0.8em;
}

/* flottant */
.floatingText *[class*="enc_flot"] {
	float:right !important;
	width: 45% !important;
	position:relative;
	margin: 0em 0em 0em 3em !important;
	padding : 0em 1em 0em 2em !important;
	background-color:#E6E6E6;
	color:#585858;
}


/* typo caractères */
.small-caps {
	font-variant:small-caps;
}

sup {
	vertical-align:super;
}

sub {
	vertical-align:bottom;
}

