ONIXMessage:before {
		content:"Fiche ONIX";
		display:block;
		font-size:18px;
		}
	
ONIXMessage {
		display:block;
		width:95%;
        margin-left:auto;
        margin-right:auto;
        margin-bottom:20px;
        padding:5px;
        font-size: 13px;
        color:#000000;
		background-color:#A7BDE9;
		}

Header:before {
		display:block;
		content:"En-tete";
		margin-bottom:10px;
		margin-top:20px;
		padding:5px;
		font-size:17px;
		}
		
Header {
		display: block;
		width:90%;
		font-size:13px;
		}

Sender {
		display:block;
		}

SenderName:before {
		content:"Emetteur           ";
		border-bottom-color:transparent;
}
EmailAddress:before {
		content:"Courriel            ";
}   
SentDateTime:before {
		content:"Date d'envoi (format YYYY/MM/DD)           "
				date-field(pattern, "YY/MM/DD");
}      

SenderName,
EmailAddress,
SentDateTime {
		display:block;
		content:"";
		margin-bottom:10px;
		margin-left:20px;
		font-size:13px;
		border-bottom: 1px solid #000000;
		font-weight:bold;
		}

/*DefaultLanguageOfText {
		content:"Langue par défaut du texte :" text-area(columns,50,rows,1,wrap,word);
		display: block;
		margin-bottom:10px;
		margin-left:20px;
		font-size:13px;
		}*/

Product:before {
		display: block;
		content:"Product  " collapser();
		width:90%;
		margin-bottom:10px;
		margin-top:20px;
		padding:5px;
		font-size:17px
		}

Product {
		collapsible:yes; 
		collapsed:no;
		display: block;
		font-size:13px;
		}

RecordReference:before {
		content:"Reference           ";
		}
NotificationType:before {
		content:"NotificationType           ";
}
RecordReference {
		display:block;
		content:"";
		margin-bottom:10px;
		margin-left:20px;
		font-size:13px;
		border-bottom: 1px solid #000000;
		}
NotificationType {
		display:block;
		content: "" combo-box();
		margin-bottom:10px;
		margin-left:20px;
		font-size:13px;
		border-bottom: 1px solid #000000;
}

/*RecordSourceType {
		content:"RecordSourceType:"
				combo-box();
		display:block;
		margin-bottom:10px;
		margin-top:25px;
		margin-left:20px;
		font-size:13px;
		}

RecordSourceName {
		content:"RecordSourceName:" text-area(columns,50,rows,1,wrap,word);
		display:block;
		margin-bottom:10px;
		margin-top:25px;
		margin-left:20px;
		font-size:13px;
		}*/
		
ProductIdentifier:before {
		display:block;
		content:"ProductIdentifier         " collapser();
		border-bottom: 1px solid #000000;
		margin-bottom:10px;
		margin-top:20px;
		margin-left:20px;
		font-size:13px;		
}

DescriptiveDetail:before {
		display:block;
		content:"Descriptive Detail         " collapser();
		border-bottom: 1px solid #000000;
		border-bottom: 1px solid #000000;
		margin-bottom:10px;
		margin-top:20px;
		margin-left:20px;
		font-size:13px;	
}
PublishingDetail:before {
		display:block;
		content:"PublishingDetail         " collapser();
		margin-bottom:10px;
		margin-top:20px;
		margin-left:20px;
		font-size:13px;	
}
ProductSupply:before {
		display:block;
		content:"ProductSupply         " collapser();
		margin-bottom:10px;
		margin-top:20px;
		margin-left:20px;
		font-size:13px;	
}

ProductIdentifier,
DescriptiveDetail,
PublishingDetail,
ProductSupply {
		collapsible:yes;
		collapsed:no;
		display: block;
		margin-bottom:10px;
		margin-top:20px;
		margin-left:20px;
		font-size:13px;
		}

ProductPart {
		collapsible:yes;
		collapsed:no;
		display: block;
		font-size:13px;
		}

RelatedProduct {
		collapsible:yes;
		collapsed:no;
		display: block;
		font-size:13px;
		}
		
ProductIdentifier > ProductIDType {
		display:block;
		content:"ProductIDType   " 
				combo-box();
		margin-bottom:8px;
		margin-top:8px;
		margin-left:20px;
		font-size:12px;
}

IDTypeName:before {
	content:"IDTypeName           ";
}
		
ProductIdentifier > IDTypeName {
		display:block;
		content:"";
		margin-bottom:8px;
		margin-top:8px;
		margin-left:20px;
		font-size:12px;
		border-bottom: 1px solid #000000;
		}

IDValue:before {
	content:"IDValue           ";
}

ProductIdentifier > IDValue {
		display:block;
		content:"";
		margin-bottom:8px;
		margin-top:8px;
		margin-left:20px;
		font-size:12px;
		border-bottom: 1px solid #000000;
		}

Barcode {
		collapsible:yes;
		collapsed:no;
		display: block;
		font-size:13px;
		}

Barcode > BarcodeType {
		display:block;
		content:"Barcodeype         " 
				combo-box();
		margin-bottom:10px;
		margin-top:25px;
		margin-left:20px;
		font-size:13px;
		}
	
	
DescriptiveDetail > ProductComposition {
		display:block;
		content:"ProductComposition         "
				combo-box();
		margin-bottom:10px;
		margin-top:25px;
		margin-left:20px;
		font-size:12px;
		}
		
DescriptiveDetail > ProductForm {
		display:block;
		content:"ProductForm         "
				combo-box();
		margin-bottom:10px;
		margin-top:25px;
		margin-left:20px;
		font-size:12px;
		}

DescriptiveDetail > ProductFormDetail {
		display:block;
		content:"ProductFormDetail         " 
				combo-box();
		margin-bottom:10px;
		margin-top:25px;
		margin-left:20px;
		font-size:12px;
		}

DescriptiveDetail > ProductFormDescription {
		display:block;
		content:"ProductFormDescription         " text-area(columns,50,rows,1,wrap,word);
		margin-bottom:10px;
		margin-top:25px;
		margin-left:20px;
		font-size:13px;
		}

DescriptiveDetail > PrimaryContentType {
		display:block;
		content:"PrimaryContentType         " 
				combo-box();
		margin-bottom:10px;
		margin-top:25px;
		margin-left:20px;
		font-size:12px;
		}

DescriptiveDetail > ProductContentType {
		display:block;
		content:"ProductContentType         " 
				combo-box();
		margin-bottom:10px;
		margin-top:25px;
		margin-left:20px;
		font-size:13px;
		}
		
DescriptiveDetail > Measure:before {
		display:block;
		content:"Measure         " collapser();
		width:90%;
		margin-bottom:10px;
		margin-top:20px;
		font-size:15px;
		}
		
DescriptiveDetail > Measure {
		collapsible:yes;
		collapsed:no;
		display: block;
		font-size:13px;
        margin-bottom:10px;
		margin-top:25px;
		margin-left:20px;
		}
		
DescriptiveDetail > Measure > MeasureType {
		display:block;
		content:"MeasureType         " 
				combo-box();
		margin-bottom:10px;
		margin-top:25px;
		margin-left:25px;
		font-size:13px;
		}
		
Measurement {
		display:block;
		content:"Measurement         " text-area(columns,50,rows,1,wrap,word);
		margin-bottom:10px;
		margin-top:25px;
		margin-left:25px;
		font-size:13px;
		}
		
MeasureUnitCode {
		display:block;
		content:"MeasureUnitCode         "
				combo-box();
		margin-bottom:10px;
		margin-top:25px;
		margin-left:25px;
		font-size:13px;
		}

		
EpubTechnicalProtection {
		display:block;
		content:"EpubTechnicalProtection         " 
				combo-box();
		margin-bottom:10px;
		margin-top:25px;
		margin-left:25px;
		font-size:12px;
		}

EpubUsageConstraint:before {
	display:block;
	content:"EpubUsageConstraint         " collapser();
	font-size:12px;
	margin-bottom:10px;
	margin-top:25px;
	margin-left:25px;
}

EpubUsageConstraint {
		collapsible:yes;
		collapsed:no;
		display: block;
        margin-bottom:10px;
		margin-top:25px;
		margin-left:20px;
		}

EpubUsageType {
		display:block;
		content:"EpubUsageType         "
				combo-box();
		margin-bottom:8px;
		margin-top:8px;
		margin-left:32px;
		font-size:11px;
		}

EpubUsageStatus {
		display:block;
		content:"EpubUsageStatus         " 
				combo-box();
		margin-bottom:8px;
		margin-top:8px;
		margin-left:32px;
		font-size:11px;
		}

EpubUsageLimit {
		collapsible:yes;
		collapsed:no;
		display: block;
		font-size:13px;
        margin-bottom:10px;
		margin-top:25px;
		margin-left:20px;
		}
		
EpubUsageLimit > Quantity {
		display:block;
		content:"Quantity         " text-area(columns,50,rows,1,wrap,word);
		margin-bottom:10px;
		margin-top:25px;
		margin-left:25px;
		font-size:13px;
		}

EpubUsageLimit > EpubUsageUnit {
		display:block;
		content:"EpubUsageUnit         "
				combo-box(); 
		margin-bottom:10px;
		margin-top:25px;
		margin-left:25px;
		font-size:13px;
		}

ProductClassification {
		collapsible:yes;
		collapsed:no;
		display: block;
		font-size:13px;
        margin-bottom:10px;
		margin-top:25px;
		margin-left:20px;
		}

ProductClassification > ProductClassificationType {
		display:block;
		content:"ProductClassificationType         "
				combo-box(); 
		margin-bottom:10px;
		margin-top:25px;
		margin-left:25px;
		font-size:13px;
		}

ProductClassification > ProductClassificationCode {
		display:block;
		content:"ProductClassificationCode         " text-area(columns,50,rows,1,wrap,word); 
		margin-bottom:10px;
		margin-top:25px;
		margin-left:25px;
		font-size:13px;
		}

Collection:before {
		display:block;
		content:"Collection         " collapser();
		width:90%;
		margin-bottom:10px;
		margin-top:20px;
		font-size:15px;
		}
		
Collection {
		collapsible:yes;
		collapsed:no;
		display: block;
		background-color:#E6E65C;
		margin-bottom:10px;
		margin-top:25px;
		margin-left:25px;
		font-size:13px;
		}

Collection {
		display:block;
		content:"Collection         " 
				combo-box();
		margin-bottom:10px;
		margin-top:25px;
		margin-left:25px;
		font-size:13px;
		}
		
CollectionType {
		display:block;
		content:"CollectionType         " 
				combo-box();
		margin-bottom:10px;
		margin-top:25px;
		margin-left:25px;
		font-size:13px;
		}
		
TitleDetail:before {
		display:block;
		content:"Title Detail         " collapser();
		width:90%;
		font-size:12px;
		margin-bottom:10px;
		margin-top:25px;
		margin-left:25px;
}

TitleDetail {
		collapsible:yes;
		collapsed:no;
		display: block;
		margin-left:20px;
}

TitleType {
		display:block;
		content:"TitleType         " 
				combo-box();
		margin-bottom:8px;
		margin-top:8px;
		margin-left:40px;
		font-size:11px;
		}

TitleElement:before {
		display:block;
		content:"Title Element         " collapser();
		width:90%;
		margin-bottom:8px;
		margin-top:8px;
		margin-left:40px;
		font-size:11px;
		}

TitleElement {
		collapsible:yes;
		collapsed:no;
		display: block;
		margin-left:25px;
		}

TitleElement > TitleElementLevel {
		display:block;
		content:"TitleElementLevel         " 
				combo-box();
		margin-bottom:8px;
		margin-top:8px;
		margin-left:48px;
		font-size:10px;
		}

TitleElement > PartNumber {
		display:block;
		content:"PartNumber         " text-area(columns,50,rows,1,wrap,word);
		margin-bottom:10px;
		margin-top:25px;
		margin-left:25px;
		font-size:13px;
		}
		
TitleElement > TitleText {
		content:"TitleText         ";		
}
		
TitleElement > TitleText {
		display:block;
		content:"";
		margin-bottom:8px;
		margin-top:8px;
		margin-left:48px;
		font-size:10px;
		border-bottom: 1px solid #000000;
}
		
/* Contributor */
Contributor:before {
		display:block;
		content:"Contributor         " collapser();
		width:90%;
		font-size:12px;
		margin-bottom:10px;
		margin-top:25px;
		margin-left:25px;
}
		
Contributor {
		collapsible:yes;
		collapsed:no;
		display: block;
		background-color:#DB944D;
		margin-left:20px;
		}

SequenceNumber:before {
		content:"SequenceNumber         ";
		border-bottom: 1px solid #000000;
		}
		
ContributorRole {
		display:block;
		content:"ContributorRole         " 
				combo-box();
		border-bottom: 1px solid #000000;
		border-bottom: 1px solid #000000;
	margin-bottom:10px;
	margin-top:10px;
	margin-left:40px;
	font-size:11px;
		}

NameType:before {
		content:"NameType         " 
				combo-box();
}

PersonName:before {
		content:"PersonName         ";
		border-bottom: 1px solid #000000;
		}
		
PersonNameInverted:before {
		content:"PersonNameInverted         ";
		border-bottom: 1px solid #000000;
		}
	
NamesBeforeKey:before {
		content:"NamesBeforeKey         ";
		border-bottom: 1px solid #000000;
		}

KeyNames:before {
		content:"KeyNames         ";
		border-bottom: 1px solid #000000;
		}

SequenceNumber,
NameType,
PersonName,
PersonNameInverted,
NamesBeforeKey,
KeyNames {
	display: block;
	content:"";
	border-bottom: 1px solid #000000;
	margin-bottom:10px;
	margin-top:10px;
	margin-left:40px;
	font-size:11px;
}
/* fin Contributor */

EditionType {
		display:block;
		content:"EditionType         "
				combo-box();
		width:90%;
		margin-bottom:10px;
		margin-top:20px;
		font-size:15px;
		}

/* Language */
Language:before {
		display:block;
		content:"Language         " collapser();
		width:90%;
		font-size:12px;
		margin-bottom:10px;
		margin-top:25px;
		margin-left:25px;
		}

Language {
		collapsible:yes;
		collapsed:no;
		display: block;
		margin-left:20px;
		}

LanguageRole {
		display:block;
		content:"LanguageRole         " 
				combo-box();
		margin-bottom:10px;
		margin-top:10px;
		margin-left:40px;
		font-size:11px;
		}
		
LanguageCode {
		display:block;
		content:"LanguageCode         " text-area(columns,50,rows,1,wrap,word);
		margin-bottom:10px;
		margin-top:10px;
		margin-left:40px;
		font-size:11px;
		}
/* Language */

/* Extent */
Extent:before {
		display:block;
		content:"Extent         " collapser();
		width:90%;
		font-size:12px;
		margin-bottom:10px;
		margin-top:25px;
		margin-left:25px;
		}
		
Extent {
		collapsible:yes;
		collapsed:no;
		display: block;
		margin-left:20px;
		}

ExtentType {
		display:block;
		content:"ExtentType         " 
				combo-box();
		margin-bottom:10px;
		margin-top:10px;
		margin-left:40px;
		font-size:11px;
		}
		
ExtentValue {
		display:block;
		content:"ExtentValue         " text-area(columns,50,rows,1,wrap,word);
		margin-bottom:10px;
		margin-top:10px;
		margin-left:40px;
		font-size:11px;
		}

ExtentUnit {
		display:block;
		content:"ExtentUnit          " 
				combo-box();
		margin-bottom:10px;
		margin-top:10px;
		margin-left:40px;
		font-size:11px;
		}
	
NumberOfIllustrations {
		display:block;
		content:"NumberOfIllustrations         " text-area(columns,50,rows,1,wrap,word);
		margin-bottom:10px;
		margin-top:25px;
		margin-left:25px;
		font-size:13px;
		}		

IllustrationsNote {
		display:block;
		content:"IllustrationsNotes         " text-area(columns,50,rows,1,wrap,word);
		margin-bottom:10px;
		margin-top:25px;
		margin-left:25px;
		font-size:13px;
		}
		
Subject:before {
		display:block;
		content:"Subject         " collapser();
		width:90%;
		margin-bottom:10px;
		margin-top:20px;
		font-size:15px;
		}
		
Subject {
		collapsible:yes;
		collapsed:no;
		display: block;
		font-size:13px;
		}

Subject > MainSubject {
		display:block;
		content:"Subjects         " text-area(columns,50,rows,1,wrap,word);
		margin-bottom:10px;
		margin-top:25px;
		margin-left:25px;
		font-size:13px;
		}

Subject > SubjectSchemeIdentifier {
		display:block;
		content:"SubjectSchemeIdentifier         " 
				combo-box();
		margin-bottom:10px;
		margin-top:25px;
		margin-left:25px;
		font-size:13px;
		}
		
Subject > SubjectSchemeVersion {
		display:block;
		content:"SubjectSchemeVersion         " text-area(columns,50,rows,1,wrap,word);
		margin-bottom:10px;
		margin-top:25px;
		margin-left:25px;
		font-size:13px;
		}

Subject > SubjectSchemaName {
		display:block;
		content:"SubjectSchemaName         " text-area(columns,50,rows,1,wrap,word);
		margin-bottom:10px;
		margin-top:25px;
		margin-left:25px;
		font-size:13px;
		}
		
Subject > SubjectCode {
		display:block;
		content:"SubjectCode         " text-area(columns,50,rows,1,wrap,word);
		margin-bottom:10px;
		margin-top:25px;
		margin-left:25px;
		font-size:13px;
		}

Subject > SubjectHeadingText {
		display:block;
		content:"SubjectHeadingText         " text-area(columns,50,rows,1,wrap,word);
		margin-bottom:10px;
		margin-top:25px;
		margin-left:25px;
		font-size:13px;
		}

/* Audience */
Audience:before {
		display:block;
		content:"Audience         " collapser();
		width:90%;
		font-size:12px;
		margin-bottom:10px;
		margin-top:25px;
		margin-left:25px;
		}
		
Audience {
		collapsible:yes;
		collapsed:no;
		display: block;
		margin-left:20px;
}

AudienceCodeType {
		display:block;
		content:"AudienceCodeType         " 
				combo-box();
		margin-bottom:10px;
		margin-top:10px;
		margin-left:40px;
		font-size:11px;
		}
		
AudienceCodeValue:before {
		content:"AudienceCodeValue         ";
		border-bottom: 1px solid #000000;
}

AudienceCodeValue {
		display:block;
		content:"";
		margin-bottom:10px;
		margin-top:10px;
		margin-left:40px;
		font-size:11px;
		border-bottom: 1px solid #000000;
}

Complexity:before {
		display:block;
		content:"Complexity         " collapser();
		width:90%;
		margin-bottom:10px;
		margin-top:20px;
		font-size:15px;
		}
		
Complexity {
		collapsible:yes;
		collapsed:no;
		display: block;
		margin-bottom:10px;
		margin-top:25px;
		margin-left:25px;
		font-size:13px;
		}

ComplexitySchemeIdentifier {
		display:block;
		content:"ComplexitySchemeIdentifier         " 
				combo-box();
		margin-bottom:10px;
		margin-top:25px;
		margin-left:25px;
		font-size:13px;
		}
		
ComplexityCode {
		display:block;
		content:"ComplexityCode         " text-area(columns,50,rows,1,wrap,word);
		margin-bottom:10px;
		margin-top:25px;
		margin-left:25px;
		font-size:13px;
		}

BiographicalNote {
		display:block;
		content:"BiographicalNote         " text-area(columns,50,rows,1,wrap,word);
		margin-bottom:10px;
		margin-top:25px;
		margin-left:25px;
		font-size:13px;
		}
		
TextContent {
		display: block;
        margin-bottom:10px;
		margin-top:25px;
		margin-left:25px;
		font-size:13px;
		}

TextType {
		display:block;
		content:"TextType         " text-area(columns,50,rows,1,wrap,word);
		margin-bottom:10px;
		margin-top:25px;
		margin-left:25px;
		font-size:13px;
		}
		
Text {
		display:block;
		content:"Abstract         " text-area(columns,50,rows,1,wrap,word);
		margin-bottom:10px;
		margin-top:25px;
		margin-left:25px;
		font-size:13px;
		}

CollateralDetail:before {
		display:block;
		content:"CollateralDetail         " collapser();
		width:90%;
		margin-bottom:10px;
		margin-top:20px;
		font-size:15px;
		}
		
CollateralDetail {
		collapsible:yes;
		collapsed:no;
		display: block;
		margin-bottom:10px;
		margin-top:25px;
		margin-left:25px;
		font-size:13px;
		}

SupportingResource {
		collapsible:yes;
		collapsed:no;
		display: block;
		font-size:13px;
		}

ResourceContentType {
		display:block;
		content:"ResourceContentType         " 
				combo-box();
		margin-bottom:10px;
		margin-top:25px;
		margin-left:25px;
		font-size:13px;
		}

ContentAudience {
		display:block;
		content:"ContentAudience         " 
				combo-box();
		margin-bottom:10px;
		margin-top:25px;
		margin-left:25px;
		font-size:13px;
		}

ResourceMode {
		display:block;
		content:"ResourceMode         " 
				combo-box();
		margin-bottom:10px;
		margin-top:25px;
		margin-left:25px;
		font-size:13px;
		}

ResourceVersion{
		collapsible:yes;
		collapsed:no;
		display: block;
		margin-bottom:10px;
		margin-top:25px;
		margin-left:25px;
		font-size:13px;
		}

ResourceForm {
		display:block;
		content:"ResourceForm         " 
				combo-box();
		margin-bottom:10px;
		margin-top:25px;
		margin-left:25px;
		font-size:13px;
		}

ResourceVersionFeature{
		collapsible:yes;
		collapsed:no;
		display: block;
		margin-bottom:10px;
		margin-top:25px;
		margin-left:25px;
		font-size:13px;
		}

ResourceVersionFeature {
		display:block;
		content:"";
		margin-bottom:10px;
		margin-top:25px;
		margin-left:25px;
		font-size:13px;
		}

ResourceVersionFeatureType {
		display:block;
		content:"ResourceVersionFeatureType         " 
				combo-box();
		margin-bottom:10px;
		margin-top:25px;
		margin-left:25px;
		font-size:13px;
		}

FeatureValue {
		display:block;
		content:"FeatureValue         "  text-area(columns,50,rows,1,wrap,word);
		margin-bottom:10px;
		margin-top:25px;
		margin-left:25px;
		font-size:13px;
		}

ResourceLink {
		display:block;
		content:"ResourceLink         " text-area(columns,50,rows,1,wrap,word);
		margin-bottom:10px;
		margin-top:25px;
		margin-left:25px;
		font-size:13px;
		}

Imprint {
	display:block;
}

ImprintName:before {
	content:"Imprint         ";
}

ImprintName {
		display:block;
		content:"";
		margin-bottom:10px;
		margin-top:25px;
		margin-left:25px;
		font-size:12px;
		border-bottom: 1px solid #000000;
}

Publisher:before {
		display:block;
		content:"Publisher         " collapser();
		width:90%;
		font-size:12px;
		margin-bottom:10px;
		margin-top:25px;
		margin-left:25px;
}

Publisher {
		collapsible:yes;
		collapsed:no;
		display: block;
		font-size:13px;
		}
		
Publisher > PublishingRole {
		display:block;
		content:"PublishingRole         " combo-box();
		margin-bottom:10px;
		margin-top:10px;
		margin-left:40px;
		font-size:11px;
		}
		
PublisherName:before {
	content:"PublisherName         ";
}

PublisherName {
		display:block;
		content:"";
		margin-bottom:10px;
		margin-top:10px;
		margin-left:40px;
		font-size:11px;
		border-bottom: 1px solid #000000;
		}

PublishingName {
		display:block;
		content:"PublishingName         " text-area(columns,50,rows,1,wrap,word);
		margin-bottom:10px;
		margin-top:25px;
		margin-left:25px;
		font-size:13px;
		}
		
PublishingDate > Date {
		display:block;
		content:"Date         " text-area(columns,50,rows,1,wrap,word);
		margin-bottom:10px;
		margin-top:25px;
		margin-left:25px;
		font-size:13px;
		}

Website:before {
		display:block;
		content:"Website         " collapser();
		margin-bottom:10px;
		margin-top:10px;
		margin-left:40px;
		font-size:11px;
		}
		
Website {
		collapsible:yes;
		collapsed:no;
		display: block;
		margin-bottom:10px;
		margin-top:10px;
		margin-left:40px;
		font-size:11px;
		}

WebsiteRole {
		display:block;
		content:"WebsiteRole         " combo-box();
		margin-bottom:10px;
		margin-top:10px;
		margin-left:40px;
		font-size:10px;
		}
		
WebsiteLink:before {
	content:"WebsiteLink         " ;
}

WebsiteLink {
		display:block;
		content:"" ;
		margin-bottom:10px;
		margin-top:10px;
		margin-left:40px;
		font-size:10px;
		border-bottom: 1px solid #000000;
		}

CityOfPublication:before {
		content:"CityOfPublication         ";
}

CityOfPublication {
	display:block;
	content:"";
	border-bottom: 1px solid #000000;
	margin-bottom:10px;
	margin-top:25px;
	margin-left:25px;
	font-size:12px;
}

SalesRights:before {
		display:block;
		content:"SalesRights         " collapser();
		width:90%;
		font-size:12px;
		margin-bottom:10px;
		margin-top:25px;
		margin-left:25px;
		}

SalesRights {
		collapsible:yes;
		collapsed:no;
		display: block;
		font-size:13px;
		}
		
SalesRightsType {
		display:block;
		content:"SalesRightsType         " combo-box();
		margin-bottom:10px;
		margin-top:10px;
		margin-left:40px;
		font-size:10px;
		}

Territory {
display:block;
}

RegionsIncluded:before {
	content:"RegionsIncluded         ";
}
		
RegionsIncluded {
		display:block;
		content:"";
		margin-bottom:10px;
		margin-top:10px;
		margin-left:40px;
		font-size:10px;
		border-bottom: 1px solid #000000;
		}

Market:before {
		display:block;
		content:"Market         " collapser();
		width:90%;
		margin-bottom:10px;
		margin-top:20px;
		font-size:15px;
		}
		
Market {
		collapsible:yes;
		collapsed:no;
		display: block;
		font-size:13px;
		}

CountriesIncluded {
		display:block;
		content:"Territory         " text-area(columns,50,rows,1,wrap,word);;
		margin-bottom:10px;
		margin-top:25px;
		margin-left:25px;
		font-size:13px;
		}
		
/*Territory > CountriesIncludes {
		display:block;
		content:"" text-area(columns,50,rows,1,wrap,word);
		margin-bottom:10px;
		margin-top:25px;
		margin-left:25px;
		font-size:13px;
		}*/

MarketPublishingDetail:before {
		display:block;
		content:"MarketPublishingDetail         " collapser();
		width:90%;
		font-size:12px;
		margin-bottom:10px;
		margin-top:25px;
		margin-left:25px;
		}
		
MarketPublishingDetail {
		collapsible:yes;
		collapsed:no;
		display: block;
		}

MarketPublishingStatus {
		display:block;
		content:"MarketPublishingStatus         " combo-box();
		margin-bottom:10px;
		margin-top:10px;
		margin-left:40px;
		font-size:11px;
		}

MarketDate:before {
		display:block;
		content:"MarketDate         " collapser();
		width:90%;
		margin-bottom:10px;
		margin-top:10px;
		margin-left:40px;
		font-size:11px;
		}

MarketDate {
		collapsible:yes;
		collapsed:no;
		display: block;
		font-size:11px;
		}
		
MarketDate > MarketDateRole {
		display:block;
		content:"MarketDateRole         " combo-box();
		margin-bottom:10px;
		margin-top:10px;
		margin-left:55px;
		font-size:10px;
		}

MarketDate > DateFormat:before {
	content:"DateFormat         " ;
}
		
MarketDate > DateFormat {
		display:block;
		content:"" ;
		margin-bottom:10px;
		margin-top:10px;
		margin-left:40px;
		font-size:10px;
		font-size:11px;
		border-bottom: 1px solid #000000;
		}

MarketDate > Date:before {
	content:"Date         " ;
}

MarketDate > Date {
		display:block;
		content:"" ;
		margin-bottom:10px;
		margin-top:10px;
		margin-left:55px;
		font-size:10px;
		border-bottom: 1px solid #000000;
		}

SupplyDetail:before {
		display:block;
		content:"SupplyDetail         " collapser();
		width:90%;
		font-size:11px;
		margin-bottom:10px;
		margin-top:10px;
		margin-left:40px;
		}

SupplyDetail {
		collapsible:yes;
		collapsed:no;
		display: block;
		}
		
Supplier {
		display: block;
		font-size:13px;
		}

Supplier > SupplierRole {
		content:"SupplierRole         " combo-box();
		display:block;
		margin-bottom:10px;
		margin-top:10px;
		margin-left:55px;
		font-size:10px;
		}

SupplierIdentifier:before {
		display:block;
		content:"SupplierIdentifier         " collapser();
		width:90%;
		font-size:11px;
		margin-bottom:10px;
		margin-top:10px;
		margin-left:40px;
		}

SupplierIdentifier {
		collapsible:yes;
		collapsed:no;
		display: block;
		}

SupplierIDType {
		content:"SupplierIDType         " combo-box();
		display:block;
		margin-bottom:10px;
		margin-top:10px;
		margin-left:55px;
		font-size:10px;
		}

IDTypeName:before  {
		content:"IDTypeName         ";
		}

IDTypeName {
	content:"";
		display:block;
		margin-bottom:10px;
		margin-top:10px;
		margin-left:55px;
		font-size:10px;
		border-bottom: 1px solid #000000;
}

IDValue:before {
		content:"IDValue         ";
		}

IDValue {
		display:block;
		content:"";
		margin-bottom:10px;
		margin-top:10px;
		margin-left:55px;
		font-size:10px;
		border-bottom: 1px solid #000000;
}

Supplier > SupplierName:before {
		content:"SupplierName         ";
		}

Supplier > SupplierName {
		content:"";
		display:block;
		margin-bottom:10px;
		margin-top:10px;
		margin-left:55px;
		font-size:10px;
		border-bottom: 1px solid #000000;
		}		

Supplier > Website:before {
		display:block;
		content:"Website         " collapser();
		margin-bottom:10px;
		margin-top:10px;
		margin-left:55px;
		font-size:11px;
		}
		
Supplier > Website {
		collapsible:yes;
		collapsed:no;
		display: block;
		margin-bottom:10px;
		margin-top:10px;
		margin-left:55px;
		font-size:11px;
		}

Supplier > WebsiteRole {
		display:block;
		content:"WebsiteRole         " combo-box();
		margin-bottom:10px;
		margin-top:10px;
		margin-left:55px;
		font-size:10px;
		}
		
Supplier > WebsiteLink:before {
	content:"WebsiteLink         " ;
}

Supplier > WebsiteLink {
		display:block;
		content:"" ;
		margin-bottom:10px;
		margin-top:10px;
		margin-left:55px;
		font-size:10px;
		border-bottom: 1px solid #000000;
		}

		
ProductAvailability {
		content:"ProductAvailability         " combo-box();
		display:block;
		margin-bottom:10px;
		margin-top:10px;
		margin-left:55px;
		font-size:10px;
		}

UnpricedItemType {
		content:"SupplierRole         " combo-box();
		display:block;
		margin-bottom:10px;
		margin-top:10px;
		margin-left:55px;
		font-size:10px;
		}

Price:before {
		display:block;
		content:"Price         " collapser();
		width:90%;
		margin-bottom:10px;
		margin-top:20px;
		font-size:15px;
		}
		
Price {
		collapsible:yes;
		collapsed:no;
		display: block;
		font-size:13px;
		}
		
PriceType {
		content:"PriceType         " text-area(columns,50,rows,1,wrap,word);
		display:block;
		margin-bottom:10px;
		margin-top:25px;
		margin-left:25px;
		font-size:13px;
		}
		
PriceAmount {
		content:"PriceAmount         " text-area(columns,50,rows,1,wrap,word);
		display:block;
		margin-bottom:10px;
		margin-top:25px;
		margin-left:25px;
		font-size:13px;
		}

CurrencyCode {
		display:block;
		content:"Code de devise par defaut         " 
				combo-box(
						labels, "euros\A livres\A dollarUS\A");
		margin-bottom:10px;
		margin-top:25px;
		margin-left:25px;
		font-size:13px;
		}