@extension "com.xmlmind.xmledit.cmd.table.GenericTableEdit";
@import url(tei_Header.css);
@namespace aid url(http://ns.adobe.com/AdobeInDesign/4.0/);

/*
Styles CSS pour l'édition TEI.

Particularités de cette feuille :
 * testée d'abord pour XMLmind
 * documentée en français
 * factorisée par types de contenus

This programme is free software; you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Lesser General Public License for more details.
<http://www.gnu.org/licenses/>

Sources :
 * http://tei.svn.sourceforge.net/viewvc/tei/trunk/TEICSS/
This stylesheet is derived from the work of Sebastian Rahtz / University of Oxford (copyright 2005)

Copyright (c) 2009-2015 
   Pôle Document Numérique
   Maison de la Recherche en Sciences Humaines
   Université de Caen Basse-Normandie
   Esplanade de la Paix
   Campus 1
   14032 Caen Cedex
*/


/* Par défaut */
TEI {
  font-family:Arial;
  font-size:14px;
  color:black;
  line-height:1.5;
}
/*
BLOCS ET CARACTÈRES

Les styles de niveau bloc sont déclarés une première fois à un seul endroit,
afin d’assurer l'écoulement du texte avant de le décorer.


*/
* {
  display:inline;
}
address,
addrLine,
argument,
back,
bibl,
biblFull,
biblStruct,
body,
byline,
category,
cit,
closer,
dateline,
div,
div0,
div1,
div2,
div3,
div4,
div5,
div6,
div7,
docAuthor,
eg,
epigraph,
figDesc,
figure,
front,
graphic,
group,
head,
item,
lb,
list,
listBibl,
listWit,
lg,
opener,
p,
quote,
salute,
signed,
sp,
speaker,
TEI,
text,
titlePage,
trailer,
witness {
	display:block;
}
/* Surcharge des contextes */
p bibl,
p biblFull,
p biblStruct,
p cit {
  display:inline;
}

/*
SECTIONS ET TITRES
*/
back,
div,
div0,
div1,
div2,
div3,
div4,
div5,
div6,
div7,
front,
group,
text {
  collapsible:yes;
  padding-left:5px;
  margin-left:5px;
  border: 1px dashed #afafaf;
  border-top-color:#FFFFFF;
  border-bottom-color:#FFFFFF;
  border-right-color:#FFFFFF;
}

back:before,
div:before,
div0:before,
div1:before,
div2:before,
div3:before,
div4:before,
div5:before,
div6:before,
div7:before,
front:before,
/*group:before,*/
text:before {
  display:block;
  content: " " element-name() " " collapser() " " ;
  font-size:11px;
  background-color:#efefef;
  text-align:right;
}

/*group group:before {
  content: " " simple-counter(nn) " " element-name() " " collapser() " " ;
}
group group group:before {
  content: " " simple-counter(nn) " " element-name() " " collapser() " " ;
}
group group group group:before {
  content: " " simple-counter(nn) " " element-name() " " collapser() " " ;
}*/

titlePage {
  display:block;
  font-size:11px;
  text-align:center;
  border-width:1px;
  border-color:black;
  border-style: solid;
  padding:1;
}

docTitle,
titlePart,
byline,
docAuthor,
affiliation,
email {
  display:block;
  font-family:Junicode;
}
  
titlePart {
	font-size:22px;
}  

docAuthor {
	font-size:18px;
}

affiliation {
	font-size:16px;
}
  
head {
  margin-bottom:20px;
  padding:15px;
  font-size:15px;
  text-align:left;
  color:maroon;
}

head[aid|pstyle='T_inv'] {
  text-align:right;
}

head[aid|pstyle='T_sousT_inv'] {
  text-align:right;
}

pb:after {
  content: attr(n);
  font-weight: bold;
  margin-bottom: 1em;
  margin-top: 1em;
  text-align: center;
}
/*
 LISTES
*/
list {
  list-style-type: disc;
  list-style-position: outside;
  margin-bottom: 1em;
  margin-left: 2em;
  margin-top: 1em;
}

list[rend="runon"] {
  display: inline;
}

list[type="bulleted"] {
  list-style-type: disc;
  list-style-position: outside;
}
list[type="unordered"] {
  list-style-type: disc;
  list-style-position: outside;
}
list[type="ordered"] {
  list-style-type: decimal;
  list-style-position: outside;
}

list[type="numbered"] {
  list-style-type: decimal;
  list-style-position: outside;
}
list[type="none"] {
  list-style-type: none;
}

list[type]:before {
	content:combo-box(attribute,type,
				labels, "numerotee\A a puces\A",
				values, "ordered\A unordered\A"); 
}

item {
  display: list-item;
  margin-left:1em;
}
list[type = "gloss"] item {
  display: block;
}
item[n]:before {
  content: attr(n) ". " ;
  list-style: none;
}
/*
TABLES
*/
table:before {
	content:combo-box(attribute,rendition,
			labels, "Tableau\A Dispositif d'alignement\A",
			values, "border\A none\A");
}

table {
  display:table;
  collapsed:yes;
}
table > head{
  display:table-caption;
  margin-bottom: 6pt;
}

row {
  display:table-row;
  collapsed:yes;
}
cell{
  display:table-cell;
  border-width:1px;
  border-color:black;
  border-style: solid;
  padding:1;
  collapsed:yes;
  text-align:center;
}
/* Gestion des fusion de cellules */
cell[cols] {
    column-span: concatenate(attr(cols));
}
cell[rows] {
    row-span: concatenate(attr(rows));
}
/*
BLOCS
*/
p {
  text-align:left;
  margin-top:10px;
  margin-bottom:10px;
}

p[aid|pstyle="txt_Normal_inv"] {
	text-align:right;
}

p[aid|pstyle="adlocal_5f_noteinv"] {
	text-align:right;
}

p[aid|pstyle="txt_motscles_inv"] {
	text-align:right;
}

p[aid|pstyle="txt_separateur"] {
	text-align:center;
}

p[rend="rtl"],
quote[rend="rtl"] {
	text-align:right;
}

quote {
  font-size:13px;
  margin-left:50px;
  margin-top:30px;
  margin-bottom:30px;
}

quote[aid|pstyle="txt_Citation_inv"] {
	text-align:right;
	font-size:13px;
	margin-right:50px;
	margin-top:30px;
	margin-bottom:30px;
}

lb {
	content:"\A";
}

/*
 NOTES
*/

hi[rend=sup] > note:before {
	content:" { Note "counter(note)" (" attr(xml|id) ") : ";
	color:red;
}

note:before {
  counter-increment:note;
  content: " { Note "counter(note)" (" attr(xml|id) ") : ";
  color:#000000;
}

note[place=end]:before {
  background-color: #787878;
}

note[type] {
  font-family:verdana;
  display:inline;
  font-size:12px;
  font-style:normal;
  color:#000000;
  padding-left:5px;
  padding-right:5px;
  background-color: #efefef;
}

note[place] {
  font-family:verdana;
  display:inline;
  font-size:12px;
  font-style:normal;
  color:#000000;
  padding-left:5px;
  padding-right:5px;
  background-color: #efefef;
}

note[place]:after {
  content: " } ";
  color:#000000;
}

note {
  font-family:verdana;
  display:block;
  font-size:12px;
  font-style:normal;
  color:#000000;
}

/*index:before {
  content:" "icon(right)" "attributes();
  display:block;
  font-size:13px;
  font-weight:bold;
  color:#afafaf;
}

index:after {
  content:" "icon(left)" ";
  color:#afafaf;
}

index::attribute() {
  attribute-content-left: attribute-label() ":";
  attribute-content-middle: value-editor(attribute, attribute());
  show-attribute: when-added;
  font-size: smaller;
}*/

term {
  font-family:verdana;
  display:inline;
  font-size:12px;
  font-style:normal;
  color:#000000;
  padding-left:5px;
  padding-right:5px;
  background-color: #efefef;
}

stage {
  display:block;
  text-align:left;
  color:#333333;
}

l {
  display:block;
  text-align:center;
}

caesura {
	content:"//";
	color:maroon;
}

/*
CARACTÈRES
*/

hi[rend="i"],
hi[rend="it"],
hi[rend="italic"],
mentioned,
placeName,
soCalled {
  font-style:italic;
}
hi[rend="b"],
hi[rend="bold"]{
		font-weight:bold;
}

hi[rend="bold italic"]{
	font-weight:bold;
	font-style:italic;
}

hi[rend="sup italic"]{
  vertical-align:super;
  font-size:80%;
  font-style:italic;
}

hi[rend="sc"],
hi[rend="small-caps"]{
  color:#333333;
}
hi[rend="sup"]{
  vertical-align:super;
  font-size:80%;
}
hi[rend="sub"]{
  vertical-align:sub;
  font-size:80%;
}
hi[rend="underline"]{
  text-decoration:underline;
}
hi[rend="line-through"]{
  text-decoration:line-through;
}
hi[rend="ul"],
hi[rend="u"],
ref {
  text-decoration: underline;
}

ref:before {
	content:"//";
	color:red;
}

anchor:before {content:"//";color:blue;}

/*
DIVERS
*/

floatingText[type="encadre"]:before {
	content:attr(type) " " attr(subtype)
	" "		combo-box(attribute, subtype, 
					labels, "fixe\A flottant\A",
					values, "fixe\A flottant\A");
}

floatingText[type="annexe"]:before {
	content:attr(type) " " ;
}

floatingText {
	display:block;
	border: 1px solid black;
	text-align:center;
	background-color:#B2B2B2;
	margin-right:40px;
	margin-left:40px;
}

include {
  content:attr(href)" : "attr(xpointer);
  display:block;
}


/* quote {
    display:block;}*/

gloss {
  display:block;
  /*font-style:italic;*/
  margin-left:50px;
}

quote > list {
  /*counter-reset:item; */
  margin-left:15px;
}

list > item:before {
  /*counter-increment:item;
  content: counter(item,lower-alpha)" "; */
  color:red;
  font-weight:bold;
}

figure > head > bibl {
    display:inline;
    color:inherit;
    font-size:inherit;
    text-decoration: underline;
}

bibl {
  line-height:1.5;
}


speaker {
  margin-top:10px;
  margin-bottom:5px;
  font-size:12px;
  font-weight:bold;
}


figure > head {
  margin-bottom:20px;
  padding:15px;
  font-family:arial;
  font-size:12px;
  text-align:center;
  color:maroon;
}


/*figDesc:before {
  counter-increment:figDesc;
  content: "("counter(figDesc)")  ";
  color:#787878;
}*/

figDesc {
  text-align:left;
  margin-left:10px;
  margin-top:5px;
  margin-bottom:20px;
}

graphic {
  margin-left:auto;
  margin-right:auto;
  margin-top:20px;
  border:1px solid black;
  content:image-viewport(attribute,url,data-type,anyURI,viewport-width,450,content-width,scale-to-fit,smooth,yes);
}

media:after{
	display:block;
	content:""
				combo-box(attribute, mimeType, 
					labels, "audio-wav\A audio-mp3\A video-mov\A video-mp4\A",
					values, "audio/wav\A audio/mp3\A video/mov\A video/mp4\A");
}

media > desc {
  display:block;
  margin-left:150px;
  margin-right:25px;
  margin-top:20px;
  border:1px solid black;
}

/* typo CVZ */
hi[style='typo_adlocalcorrectionRouge'] {
	color:red;
}
hi[style='typo_adlocalcorrectionRougeBarre'] {
	color:red;
	text-decoration:line-through;
	
}
hi[style='typo_adlocalcorrectionVert'] {
	color:green;
}
hi[style='typo_adlocalcorrectionRougeBarre']>hi[rend='small-caps']:before {
	content:"[";
}
hi[style='typo_adlocalcorrectionRougeBarre']>hi[rend='small-caps'] {
	color:red;
}
hi[style='typo_adlocalcorrectionRougeBarre']>hi[rend='small-caps']:after {
	content:"]";
}
hi[style='typo_adlocalcorrectionVertBarre'] {
	color:green;
	text-decoration:line-through;
}
hi[style='typo_adlocalcorrectionVertBarre']>hi[rend='small-caps']:before {
	content:"[";
}
hi[style='typo_adlocalcorrectionVertBarre']>hi[rend='small-caps'] {
	color:red;
}
hi[style='typo_adlocalcorrectionVertBarre']>hi[rend='small-caps']:after {
	content:"]";
}
/* fin typo CVZ */

/* TODO isoler le spécifique à XMLMInd */
@media XMLmind-XML-Editor {
}