TEI{
    font-family:verdana, sans-serif;
    padding-left:1em
}

teiHeader{
    display:block;
    padding-bottom:30px
}
p,
l{
    display:block;
    padding-left:40px;
    padding-right:40px;
}
add{
    display:inline;
    vertical-align:super;

    background-color:inherit;
    text-decoration:underline;
}
del{
    display:inline;
    color:red;
    background-color:inherit;
    text-decoration:line-through;
}
emph,
hi[rend = "italic"]{
    display:inline;
    font-style:italic;
}
gap{
    display:none;
}
gap:before{
    content:"[...]";
}
corr{
    display:inline;
    color:green;
    background-color:inherit;
}
sic{
    display:inline;
    color:red;
    background-color:inherit;
}
sic:after{
    content:" [sic!]";
}
orig{
    display:inline;
    font-style:italic;
    color:gray;
    background-color:inherit;
}
reg{
    display:inline;
    font-weight:bold;
}
lb{
    display:block;
}
incipit lb,
explicit lb,
quote lb{
    display:inline;
}
explicit lb:after,
incipit lb:after,
quote lb:after{
    content:" | "
}
pb{
    display:none;
}
pb:after{
    content:attr(n);
    font-weight:bold;
    margin-bottom:1em;
    margin-top:1em;
    text-align:center;
}
unclear{
    display:inline;
    font-style:italic;
}
unclear:after{
    content:"(?)";
    color:gray;
    background-color:inherit;
}
supplied:before{
    content:"["
}
supplied:after{
    content:"]"
}
damage:before{
    content:" //"
}
damage:after{
    content:"\\\\ "
}
space{
    padding-right:2em;
}
abbr{
    display:none
}
ex:before{
    content:"("
}
ex:after{
    content:")"
}
ex{
    font-style:italic;
}
note[place = "right"]{
    float:right;
    font-size:10pt;
}
note[place = "left"]{
    float:left;
    font-size:10pt;
}

note[place = "foot"]{
    font-size:10pt;
    display:inline
}

note[place = "foot"]:before{
    content:" {"
}

note[place = "foot"]:after{
    content:" }"
}

foreign{
    font-style:italic}

term{
    text-decoration:underline}

head[rend = "underline"]{
text-decoration:underline}


add[place = "right"]{
    float:right;
    font-size:10pt;
}

add[place = "left"]{
    float:left;
    font-size:10pt;
}
add[resp]:after{
    content:"[" attr(resp) "]"
}
note[resp]:after{
    content:"[" attr(resp) "]"
}
hi[rend = "rubric"]{
    color:red;
    background-color:inherit
}
handShift:after{
    content:"[hand " attr(new) "]";
    color:blue;
    background-color:inherit;
    font-size:10pt;
}
c[rend = "drop"]{
    font-size:26pt
}
g:after{
    content:"[" attr(ref) "]";
    font-style:italic;
}
app{
    display:inline;
    font-size:10pt
}
app:before{
    content:" {"
}
app:after{
    content:"} "
}
rdg:after{
    content:"[" attr(wit) "] ;"
}
lem:after{
    content:attr(wit) "] "
}
msDesc{
    display:block
}
msItem{
    display:list-item;
}
msIdentifier{
    display:block;
}
repository:after,
settlement:after,
institution:after,
country:after,
district:after{
    content:", "
}
idno{
    font-weight:bold
}
head{
    font-weight:bold;
    font-size:14pt
}
titleStmt title{
    font-weight:bold;
    font-size:26pt;
    display:block
}
sourceDesc{
    display:block
}
sourceDesc:before{
    content:"Source: ";
    font-weight:bold;
    font-size:14pt
}

incipit:before{
    content:"Incipit: ";
    font-weight:bold
}
explicit:before{
    content:"Explicit: ";
    font-weight:bold;
}
filiation:before{
    content:"Other versions of the text: ";
    font-weight:bold;
}

incipit,
explicit,
filiation,
listBibl,
bibl{
    display:block
}

note bibl{
    display:inline
}

listBibl:before{
    content:"Bibliography: ";
    font-weight:bold}

title[type = "supplied"]:before{
    content:"Title (supplied): "
}
msItem title{
    display:block
}
msItem title title{
    font-style:italic;
    display:inline;
    font-weight:bold
}
textLang:before{
    content:"Text Language: ";
    font-weight:bold;
}

textLang{
    display:block}


msItem note{
    display:block
}

physDesc{
    display:block
}
physDesc:before{
    content:"Physical Description: ";
    font-weight:bold;
}

provenance{
    display:block;
}
provenance:before{
    content:"Provenance: ";
    font-weight:bold;
}

collation,
handDesc,
decoDesc,
layoutDesc,
foliation{
    display:block
}

collation:before{
    content:"Collation: ";
    font-weight:bold;
}

foliation:before{
    content:"Foliation: ";
    font-weight:bold;
}

handDesc:before{
    content:"Hand: ";
    font-weight:bold;
}

decoDesc:before{
    content:"Decorations:";
    font-weight:bold;
}

layout:before{
    content:"Layout: ";
    font-weight:bold;
}

name,
persName,
placeName,
geogName{
    color:navy;
    background-color:inherit;
}

bibl title{
    font-style:italic
}

hi[rend = "bold"]{
    font-weight:bold
}

locus:before{
    content:attr(from) "-" attr(to);
    display:inline;
    font-weight:bold;
}
altIdentifier{
    display:block
}
idno:before{
    content:attr(type) ": "
}
msContents:before{
    content:"Contents: ";
    display:block;
    padding-top:15px;
    padding-bottom:5px;
    font-weight:bold
}
item{
    display:list-item
}
