.link:not(.link-outer), .link .link-inner {
  color: #961C26;
}
.link:hover:not(.link-outer), .link:hover .link-inner, .link:focus:not(.link-outer), .link:focus .link-inner {
  color: #6b141b;
}
.text-key {
  color: #961C26;
}
.border-key {
  border-color: #961C26;
}
.score-key::after {
  border-color: #961C26;
}
.bg-key {
  background-color: #961C26;
}
a.bg-key:hover, a.bg-key:focus, button.bg-key:hover, button.bg-key:focus {
  background-color: #6b141b;
}

.btn-key {
  color: #fff;
  background-color: #961C26;
  border-color: #961C26;
}
.btn-key:hover {
  color: #fff;
  background-color: #76161e;
  border-color: #6b141b;
}
.btn-key:focus, .btn-key.focus {
  box-shadow: 0 0 0 0.2rem rgba(150, 28, 38, 0.5);
}
.btn-key.disabled, .btn-key:disabled {
  color: #fff;
  background-color: #961C26;
  border-color: #961C26;
}
.btn-key:not(:disabled):not(.disabled):active, .btn-key:not(:disabled):not(.disabled).active, .show > .btn-key.dropdown-toggle {
  color: #fff;
  background-color: #6b141b;
  border-color: #601218;
}
.btn-key:not(:disabled):not(.disabled):active:focus, .btn-key:not(:disabled):not(.disabled).active:focus, .show > .btn-key.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(150, 28, 38, 0.5);
}
.btn-key.disabled, .btn-key:disabled {
  color: #fff;
  background-color: gray;
  border-color: gray;
}
.btn-key.disabled:hover, .btn-key:disabled:hover {
  color: #fff;
  background-color: #6d6d6d;
  border-color: #676767;
}
.btn-key.disabled:focus, .btn-key.disabled.focus, .btn-key:disabled:focus, .btn-key:disabled.focus {
  box-shadow: 0 0 0 0.2rem rgba(128, 128, 128, 0.5);
}
.btn-key.disabled.disabled, .btn-key.disabled:disabled, .btn-key:disabled.disabled, .btn-key:disabled:disabled {
  color: #fff;
  background-color: gray;
  border-color: gray;
}
.btn-key.disabled:not(:disabled):not(.disabled):active, .btn-key.disabled:not(:disabled):not(.disabled).active, .show > .btn-key.disabled.dropdown-toggle, .btn-key:disabled:not(:disabled):not(.disabled):active, .btn-key:disabled:not(:disabled):not(.disabled).active, .show > .btn-key:disabled.dropdown-toggle {
  color: #fff;
  background-color: #676767;
  border-color: #606060;
}
.btn-key.disabled:not(:disabled):not(.disabled):active:focus, .btn-key.disabled:not(:disabled):not(.disabled).active:focus, .show > .btn-key.disabled.dropdown-toggle:focus, .btn-key:disabled:not(:disabled):not(.disabled):active:focus, .btn-key:disabled:not(:disabled):not(.disabled).active:focus, .show > .btn-key:disabled.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(128, 128, 128, 0.5);
}
.btn-outline-key {
  color: #961C26;
  background-color: transparent;
  background-image: none;
  border-color: #961C26;
}
.btn-outline-key:hover {
  color: #fff;
  background-color: #961C26;
  border-color: #961C26;
}
.btn-outline-key:focus, .btn-outline-key.focus {
  box-shadow: 0 0 0 0.2rem rgba(150, 28, 38, 0.5);
}
.btn-outline-key.disabled, .btn-outline-key:disabled {
  color: #961C26;
  background-color: transparent;
}
.btn-outline-key:not(:disabled):not(.disabled):active, .btn-outline-key:not(:disabled):not(.disabled).active, .show > .btn-outline-key.dropdown-toggle {
  color: #fff;
  background-color: #961C26;
  border-color: #961C26;
}
.btn-outline-key:not(:disabled):not(.disabled):active:focus, .btn-outline-key:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-key.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(150, 28, 38, 0.5);
}
.btn-outline-key.disabled, .btn-outline-key:disabled {
  color: gray;
  background-color: transparent;
  background-image: none;
  border-color: gray;
}
.btn-outline-key.disabled:hover, .btn-outline-key:disabled:hover {
  color: #fff;
  background-color: gray;
  border-color: gray;
}
.btn-outline-key.disabled:focus, .btn-outline-key.disabled.focus, .btn-outline-key:disabled:focus, .btn-outline-key:disabled.focus {
  box-shadow: 0 0 0 0.2rem rgba(128, 128, 128, 0.5);
}
.btn-outline-key.disabled.disabled, .btn-outline-key.disabled:disabled, .btn-outline-key:disabled.disabled, .btn-outline-key:disabled:disabled {
  color: gray;
  background-color: transparent;
}
.btn-outline-key.disabled:not(:disabled):not(.disabled):active, .btn-outline-key.disabled:not(:disabled):not(.disabled).active, .show > .btn-outline-key.disabled.dropdown-toggle, .btn-outline-key:disabled:not(:disabled):not(.disabled):active, .btn-outline-key:disabled:not(:disabled):not(.disabled).active, .show > .btn-outline-key:disabled.dropdown-toggle {
  color: #fff;
  background-color: gray;
  border-color: gray;
}
.btn-outline-key.disabled:not(:disabled):not(.disabled):active:focus, .btn-outline-key.disabled:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-key.disabled.dropdown-toggle:focus, .btn-outline-key:disabled:not(:disabled):not(.disabled):active:focus, .btn-outline-key:disabled:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-key:disabled.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(128, 128, 128, 0.5);
}
.btn-link {
  color: #961C26;
}
.btn-link:hover, .btn-link:focus {
  color: #6b141b;
}
.hover-text-key:hover,
.hover-group:hover .group-hover-text-key {
  color: #961C26 !important;
}
.hover-bg-key:hover,
.hover-group:hover .group-hover-bg-key {
  background-color: #961C26 !important;
}
.hover-border-key:hover,
.hover-group:hover .group-hover-border-key {
  border-color: #961C26 !important;
}